div.moogento-notice {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient( left, #FFFFFF 10%, #EEEEEE 30%, #58C28C 61%, #3BB878 91%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient( left, #FFFFFF 10%, #EEEEEE 30%, #58C28C 61%, #3BB878 91%);
  /* Opera */
  background-image: -o-linear-gradient( left, #FFFFFF 10%, #EEEEEE 30%, #58C28C 61%, #3BB878 91%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left , right bottom, color-stop(0.1, #FFFFFF), color-stop(0.3, #EEEEEE), color-stop(0.61, #58C28C), color-stop(0.91, #3BB878));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient( left, #FFFFFF 10%, #EEEEEE 30%, #58C28C 61%, #3BB878 91%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, #FFFFFF 10%, #EEEEEE 30%, #58C28C 61%, #3BB878 91%);
  border-image: none;
  border: 4px solid #fff;
  border-left-width: 5px;
  border-radius: 7px 3px 3px 7px;
  margin: -2px 0 0;
  padding: 0;
  height:114px;
}
.floatingcows {
  min-height: 109px;
  padding: 4px 0 0 10px;
  background-repeat:no-repeat;
}
.floatingsheep {
  background-repeat: no-repeat;
  background-size: auto 127px;
  display: block;
  float: left;
  height: 127px;
  left: -26px;
  margin: 0;
  position: relative;
  top: -5px;
  width: 152px;
}
#wikilinks {
  display: block;
  margin: -1em 0 0;
  li {
    display: inline-block;
    margin: 0 2em 0 0;
  }
  a {
    background: #777 none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #111;
    color: #eee;
    float: left;
    font-size: 1.2em;
    font-weight: 900;
    margin: -3em 0 0;
    padding: 3px 7px;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
    span {
      font-size: 1em;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        font-size: 1em;
      }
    }
    &.store img {
      margin-top:-2px;
    }
    &:hover {
      box-shadow:none;
      background:darkgreen;
      color:#FFF;
    }
  }
}

.ext_info {
  display: block;
  float: right;
  font-family: "OpenSansReg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 9px 9px 0 0;
  position: relative;
  width: 600px;
  b {
    background-color: #FFFFFF;
    border-radius: 8px;
    float: right;
    font-weight: 100;
    margin: 0px 0 0 7px;
    padding: 0 5px 1px 7px;
  }
  a:hover, a:hover b {
    text-decoration: none;
    border-width: 0;
    background-color: #90EE90;
  }
}

#mooinfo {
  color: #333;
  padding: 4px 0;
  h4 {
    font-family: "OpenSansExtraBoldItalic", "AllerDisplay", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 38px;
    letter-spacing: -1.8px;
    margin: 7px 0 7px;
    text-shadow: 3px 2px 0px #FFFFFF;
    float: left;
  }
  li {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    clear: both;
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 15px;
    margin: 2px 12px 6px 0;
    min-width: 25em;
    padding: 8px 6px 7px 7px;
    &.alert {
      background-color: #F7B167;
    }
    &.tick {
      background-color: #3BB878;
      color: #FFFFFF;
    }
  }
  a {
    color: #333;
    font-weight: 400;
    text-decoration: none;
    border-width: 0;
  }
}

.moogento-notice #mooink {
  height: 115px;
  text-decoration: none;
  width: 140px;
  display: block;
}
#mooinfo .tick em, #mooinfo .alert em, .moo_config_info em {
  background-image: url("../img/moo_tick_white.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100% !important;
  float: left;
  height: 18px;
  width: 18px;
  margin: -1px 8px 0 0;
}
#mooinfo .alert em {
  background-image: url("../img/alert_trig.png");
}

.switch-button-label {
  float: left;
  font-size: 10px;
  cursor: pointer;
  &.off {
    color: #adadad;
  }

  &.on {
    color: #0088CC;
  }
}

.switch-button-background {
  float: left;
  position: relative;
  background: #ccc;
  border: 1px solid #aaa;
  margin: 1px 1px;
  top: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  &.checked {
    background: #339966;
  }
}
.switch-button-button {
  position: absolute;
  left: -1px;
  top : -1px;
  background: #FAFAFA;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}