<div class="moogento-notice">
    <div class="floatingcows">
        <div class="floatingsheep" style="background-image:url(<?php echo $this->getLogo() ?>);"><a href="https://moogento.com/slackcommerce" id="mooink">&nbsp;</a></div>
        <div id="mooinfo">
            <h4>
                <a target="_blank" href="https://moogento.com/slackcommerce">slackCommerce</a>
            </h4>
            <div id="moo_license_info"></div>
            <script defer src="<?php echo $this->getInfo() ?>"></script>
            <script>
                require(['jquery'], function($){
                    $(window).on('load', function() {
                        $('#moo_license_info').html(window.moogento_license_info);
                    });
                });
            </script>
        </div>
    </div>
    <ul id="wikilinks">
        <li><a class="wiki" href="https://moogento.com/guides/slackCommerce_Quickstart"><span>★</span> slackCommerce User Guide</a></li>
        <li><a class="store" href="https://moogento.com"><img src="https://moogento.com/images/moogento-favicon_32x32.png" width=16 /> Moogento Store</a></li>
    </ul>
</div>
<div style="clear:both;"></div>
