<?php
$element = $this->getElement();
$htmlId = $element->getHtmlId();
$collapseState = $this->isCollapseState();
?>
<div class="section-config" xmlns="http://www.w3.org/1999/html">
    <div class="entry-edit-head admin__collapsible-block">
        <a onclick="Fieldset.toggleCollapse('<?php echo $htmlId ?>', '<?php echo $this->getUrl('*/*/state/')?>'); return false;" href="#<?php echo $htmlId ?>-link" id="<?php echo $htmlId ?>-head" class="">
            <?php echo $element->getLegend() ?>
        </a>
    </div>
    <input type="hidden" value="<?php echo $collapseState ?>" name="config_state[<?php echo $htmlId ?>]" id="<?php echo $htmlId ?>-state">
    <fieldset id="<?php echo $htmlId ?>" class="config admin__collapsible-block data-grid">
        <table class="data" cellspacing="0" style="display: none" data-bind="visible: true">
            <thead>
                <tr>
                    <?php if ($this->showInheritCheckbox()): ?>
                        <th style="width: 50px;" class="data-grid-th"><?php echo $this->_getInheritLabel() ?></th>
                    <?php endif; ?>
                    <th style="width: 40%;" class="data-grid-th">&nbsp;</th>
                    <th style="width: 30%;" class="data-grid-th"><?php echo __('Send to Slack?') ?></th>
                    <th style="width: 30%;" class="data-grid-th"><?php echo __('Highlight message?') ?></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: notificationsData">
            <tr>
                <?php if ($this->showInheritCheckbox()): ?>
                    <td>
                        <span style="display: inline-block">
                            <input type="checkbox" value="1" data-bind="attr: {name: buildInheritName('inherit')}, checked: inherit, switch: inherit" />
                            <input type="hidden" data-bind="attr: {name: buildInheritName('send_type')}, value: inherit" />
                            <input type="hidden" data-bind="attr: {name: buildInheritName('custom_channel')}, value: inherit" />
                            <input type="hidden" data-bind="attr: {name: buildInheritName('colorize')}, value: inherit" />
                            <input type="hidden" data-bind="attr: {name: buildInheritName('color')}, value: inherit" />
                        </span>
                    </td>
                <?php endif; ?>
                <td data-bind="text: name"></td>
                <td>
                    <select data-bind="chosen: {width: '200px'}, value: send_type,  disable: inherit, attr: {name: buildName('send_type')}" >
                        <option value="no"><?php echo __('No') ?></option>
                        <option value="default"><?php echo __('Yes - default channel') ?></option>
                        <option value="custom"><?php echo __('Yes - custom channel') ?></option>
                    </select>
                        <span data-bind="visible: send_type() == 'custom'" style="display: inline-block">
                            <input type="text" class="" data-bind="value: custom_channel,  disable: inherit, attr: {name: buildName('custom_channel')}" />
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildName('colorize')}" />
                            <input type="checkbox" value="1" data-bind="attr: {name: buildName('colorize')}, disable: inherit, checked: colorize, switch: colorize" />
                        </span>
                        <span data-bind="visible: colorize" style="display: inline-block">
                            <input type="text" class="" data-bind="value: color, attr: {name: buildName('color')}, disable: inherit, color: true" />
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <?php echo $this->getExtraJs() ?>
    <script type="text/x-magento-init">
        {
            "#<?php echo $htmlId ?>": {
                "Moogento_SlackCommerce/js/notifications": <?php echo $block->getNotificationsJson();?>
            }
        }
    </script>
    <style scoped="">
        #moogento_slackcommerce_notifications td {
            padding: 1.5rem;
        }
    </style>
</div>