<?php
$element = $this->getElement();
$htmlId = $element->getHtmlId();
$collapseState = $this->isCollapseState();
?>
<div class="section-config" xmlns="http://www.w3.org/1999/html">
    <div class="entry-edit-head admin__collapsible-block">
        <a onclick="Fieldset.toggleCollapse('<?php echo $htmlId ?>', '<?php echo $this->getUrl('*/*/state/')?>'); return false;" href="#<?php echo $htmlId ?>-link" id="<?php echo $htmlId ?>-head" class="">
            <?php echo $element->getLegend() ?>
        </a>
    </div>
    <input type="hidden" value="<?php echo $collapseState ?>" name="config_state[<?php echo $htmlId ?>]" id="<?php echo $htmlId ?>-state">
    <fieldset id="<?php echo $htmlId ?>" class="config admin__collapsible-block data-grid">
        <table cellspacing="0" style="display: none" data-bind="visible: true">
            <tbody>
            <tr>
                <th style="width: 33.33%" class="data-grid-th">
                    <?php echo __('Backend login fail : Immediate notification') ?>
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: immediate_send_type">
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: immediate_send_type">
                    <?php echo __('Highlight message?') ?>
                </th>
            </tr>
            <tr>
                <td>
                    <select data-bind="chosen: {width: '200px'}, value: immediate_send_type, attr: {name: buildSecurityName('immediate_send_type')}" >
                        <option value=""><?php echo __('No') ?></option>
                        <option value="default"><?php echo __('Yes - default channel') ?></option>
                        <option value="custom"><?php echo __('Yes - custom channel') ?></option>
                    </select>
                       <span data-bind="visible: immediate_send_type() == 'custom'" style="display: inline-block">
                           <input type="text" class="" data-bind="value: immediate_custom_channel, attr: {name: buildSecurityName('immediate_custom_channel')}" />
                       </span>
                </td>
                <td data-bind="if: immediate_send_type"></td>
                <td data-bind="if: immediate_send_type">
                       <span style="display: inline-block">
                           <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('immediate_colorize')}" />
                           <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('immediate_colorize')}, checked: immediate_colorize, switch: immediate_colorize" />
                       </span>
                       <span data-bind="visible: immediate_colorize" style="display: inline-block">
                           <input type="text" class="" data-bind="value: immediate_color, attr: {name: buildSecurityName('immediate_color')}, color: true" />
                       </span>
                </td>
            </tr>
            <tr class="headings">
                <th style="width: 33.33%" class="data-grid-th">
                    <?php echo __('Backend login fail : Daily summary') ?>
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: report_send_type">
                    <?php echo __('What time?') ?>
                </th>
                <th style="width: 33.33%" class="data-grid-th" data-bind="if: report_send_type">
                    <?php echo __('Highlight message?') ?>
                </th>
            </tr>
            <tr>
                <td>
                    <select data-bind="chosen: {width: '200px'}, value: report_send_type, attr: {name: buildSecurityName('report_send_type')}" >
                        <option value=""><?php echo __('No') ?></option>
                        <option value="default"><?php echo __('Yes - default channel') ?></option>
                        <option value="custom"><?php echo __('Yes - custom channel') ?></option>
                    </select>
                       <span data-bind="visible: report_send_type() == 'custom'" style="display: inline-block">
                           <input type="text" class="" data-bind="value: report_custom_channel, attr: {name: buildSecurityName('report_custom_channel')}" />
                       </span>
                </td>
                <td data-bind="if: report_send_type">
                    <select data-bind="chosen: {width: '200px'}, value: hour, attr: {name: buildSecurityName('hour')}" >
                        <?php for($i = 0; $i < 24; ++$i): ?>
                            <option value="<?php echo $i ?>"><?php echo str_pad($i, 2, '0', STR_PAD_LEFT) ?>:00</option>
                        <?php endfor; ?>
                    </select>
                </td>
                <td data-bind="if: report_send_type">
                       <span style="display: inline-block">
                           <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('report_colorize')}" />
                           <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('report_colorize')}, checked: report_colorize, switch: report_colorize" />
                       </span>
                       <span data-bind="visible: report_colorize" style="display: inline-block">
                           <input type="text" class="" data-bind="value: report_color, attr: {name: buildSecurityName('report_color')}, color: true" />
                       </span>
                </td>
            </tr>
            <tr class="headings" data-bind="visible: report_send_type">
                <th class="data-grid-th">
                    <?php echo __('# Fails (all IPs)') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('# Fails (by IP)') ?>
                </th>
                <th class="data-grid-th">
                    <?php echo __('# Fails (by target)') ?>
                </th>
            </tr>
            <tr data-bind="visible: report_send_type">
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('total_fails')}" />
                            <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('total_fails')}, checked: total_fails, switch: total_fails" />
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('count_ip_fails')}" />
                            <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('count_ip_fails')}, checked: count_ip_fails, switch: count_ip_fails" />
                        </span>
                </td>
                <td>
                        <span style="display: inline-block">
                            <input type="hidden" value="0" data-bind="attr: {name: buildSecurityName('count_target_fails')}" />
                            <input type="checkbox" value="1" data-bind="attr: {name: buildSecurityName('count_target_fails')}, checked: count_target_fails, switch: count_target_fails" />
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <?php echo $this->getExtraJs() ?>
    <script type="text/x-magento-init">
        {
            "#<?php echo $htmlId ?>": {
                "Moogento_SlackCommerce/js/security": <?php echo $block->getValues(); ?>
            }
        }
    </script>
    <style scoped="">
        #moogento_slackcommerce_security td {
            padding: 1.5rem;
        }
    </style>
</div>